@import "tailwindcss";

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #131313;
  color: #fff;
}

img {
  border-radius: 4px;
}
